# Чтение данных из файлов

In [1]:
# открываем файл
# 'r' - прочитать файл
# 'w' - очистить файл и начать запись
# 'a' - добавить запись в конец файла
f = open('transactions.tsv', 'r')

In [12]:
# чтение файла построчно (независимо от размера)
print(f.readline())

ValueError: I/O operation on closed file.

In [4]:
# закрываем файл
f.close()

In [10]:
# аналог
with open('transactions.tsv', 'r') as f:
    print(f.readline())

2019-01-01	78

### Упражнение
Дан лог покупок transactions.tsv.

Первый столбец - дата покупки, второй - сумма. Разделитель табуляция.

Необходимо посчитать:

1. Сумму покупок за все дни

2. Среднюю стоимость одной покупки

3. Посложнее - в какой день была максимальная выручка?

In [20]:
total_sum = 0
count = 0
max_sum = 0
max_date = ''
with open('transactions.tsv', 'r') as f:
    for line in f:
        date, amount = line.strip().split('\t')
        if int(amount) > max_sum:
            max_sum = int(amount)
            max_date =  date
        total_sum+=int(amount)
        count+=1
print(total_sum)
print(total_sum/count)
print(max_date)

2988
47.42857142857143
2019-01-05

# Даты

In [1]:
# import datetime
from datetime import datetime

In [2]:
date_string = '09.05.2018  09:00'

In [3]:
# сейчас date_string это просто строка
type(date_string)

str

In [4]:
date_string[:10]

'09.05.2018'

In [5]:
datetime.strptime('09.05.2018 09:00', '%d.%m.%Y %I:%M')

datetime.datetime(2018, 5, 9, 9, 0)

In [6]:
datetime.strptime('09.05.2018Z09:00', '%d.%m.%YZ%H:%M')

datetime.datetime(2018, 5, 9, 9, 0)

In [46]:
# https://docs.python.org/3/library/datetime.html

date_datetime = datetime.strptime( date_string, '%d.%m.%Y %H:%M' )
date_datetime

datetime.datetime(2018, 5, 9, 9, 0)

In [47]:
# теперь можем работать с датами
type(date_datetime)

datetime.datetime

In [48]:
date_datetime.year, date_datetime.hour

(2018, 9)

### Упражнение
С помощью метода datetime.strptime переведите строку 'May 25 2017 5:00AM' в формат datetime.

### Прибавление интервала к датам

In [49]:
from datetime import timedelta

In [50]:
start_date = '2018-01-01'
end_date = '2018-01-07'

In [51]:
type(start_date)

str

In [52]:
start_date_datetime = datetime.strptime(start_date, '%Y-%m-%d')
start_date_datetime

datetime.datetime(2018, 1, 1, 0, 0)

In [53]:
start_date_datetime + timedelta(days=1)

datetime.datetime(2018, 1, 2, 0, 0)

In [54]:
start_date_datetime + timedelta(days=-1)

datetime.datetime(2017, 12, 31, 0, 0)

In [57]:
start_date_datetime + timedelta(days=-7, minutes=-1)

datetime.datetime(2017, 12, 24, 23, 59)

In [58]:
start_date_datetime.weekday()

0

### Упражнение
Дана дата в формате '2018-09-01T09:30:00'. Прибавьте к ней 12 часов 15минут и 3 секунды.

In [59]:
date_str = '2018-09-01T09:30:00'

In [66]:
newday = datetime.strptime(date_str,'%Y-%m-%dT%H:%M:%S') + timedelta(hours=12, minutes=15, seconds=3)

In [67]:
newday

datetime.datetime(2018, 9, 1, 21, 45, 3)

### Перевод обратно в строку

In [68]:
date = datetime(2018, 9, 1)
date

datetime.datetime(2018, 9, 1, 0, 0)

In [69]:
date.strftime('%Y-%m-%d')

'2018-09-01'

In [70]:
date.strftime('%B %d %Y %I:%M%p')

'September 01 2018 12:00AM'

In [71]:
# внезапно

date.strftime('%Y-%m-01')

'2018-09-01'

In [72]:
start_date, end_date

('2018-01-01', '2018-01-07')

In [73]:
start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')

print(start_date_dt, end_date_dt)

2018-01-01 00:00:00 2018-01-07 00:00:00

In [74]:
start_date_dt

datetime.datetime(2018, 1, 1, 0, 0)

In [75]:
i = 0

while i < 10:
    # ...
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [76]:
current_dt = start_date_dt

while current_dt <= end_date_dt:
    print(current_dt.strftime('%Y-%m-%d'))
    
    current_dt += timedelta(days=1)

2018-01-01
2018-01-02
2018-01-03
2018-01-04
2018-01-05
2018-01-06
2018-01-07

### Упражнение
Напишите алгоритм, который "пробегает" период 1 до 7 сентября по часам. Формат вывода '06.01.2018 23:00:00'.

In [81]:
current_dt = start_date_dt

while current_dt < end_date_dt:
    print(current_dt.strftime('%d.%m.%Y %H:%M:%S'))
    current_dt += timedelta(hours=1)
    
current_dt.strftime('%d.%m.%Y %H:%M:%S')

01.01.2018 00:00:00
01.01.2018 01:00:00
01.01.2018 02:00:00
01.01.2018 03:00:00
01.01.2018 04:00:00
01.01.2018 05:00:00
01.01.2018 06:00:00
01.01.2018 07:00:00
01.01.2018 08:00:00
01.01.2018 09:00:00
01.01.2018 10:00:00
01.01.2018 11:00:00
01.01.2018 12:00:00
01.01.2018 13:00:00
01.01.2018 14:00:00
01.01.2018 15:00:00
01.01.2018 16:00:00
01.01.2018 17:00:00
01.01.2018 18:00:00
01.01.2018 19:00:00
01.01.2018 20:00:00
01.01.2018 21:00:00
01.01.2018 22:00:00
01.01.2018 23:00:00
02.01.2018 00:00:00
02.01.2018 01:00:00
02.01.2018 02:00:00
02.01.2018 03:00:00
02.01.2018 04:00:00
02.01.2018 05:00:00
02.01.2018 06:00:00
02.01.2018 07:00:00
02.01.2018 08:00:00
02.01.2018 09:00:00
02.01.2018 10:00:00
02.01.2018 11:00:00
02.01.2018 12:00:00
02.01.2018 13:00:00
02.01.2018 14:00:00
02.01.2018 15:00:00
02.01.2018 16:00:00
02.01.2018 17:00:00
02.01.2018 18:00:00
02.01.2018 19:00:00
02.01.2018 20:00:00
02.01.2018 21:00:00
02.01.2018 22:00:00
02.01.2018 23:00:00
03.01.2018 00:00:00
03.01.2018 01:00:00
03.01.2018 02:00:00
03.01.2018 03:00:00
03.01.2018 04:00:00
03.01.2018 05:00:00
03.01.2018 06:00:00
03.01.2018 07:00:00
03.01.2018 08:00:00
03.01.2018 09:00:00
03.01.2018 10:00:00
03.01.2018 11:00:00
03.01.2018 12:00:00
03.01.2018 13:00:00
03.01.2018 14:00:00
03.01.2018 15:00:00
03.01.2018 16:00:00
03.01.2018 17:00:00
03.01.2018 18:00:00
03.01.2018 19:00:00
03.01.2018 20:00:00
03.01.2018 21:00:00
03.01.2018 22:00:00
03.01.2018 23:00:00
04.01.2018 00:00:00
04.01.2018 01:00:00
04.01.2018 02:00:00
04.01.2018 03:00:00
04.01.2018 04:00:00
04.01.2018 05:00:00
04.01.2018 06:00:00
04.01.2018 07:00:00
04.01.2018 08:00:00
04.01.2018 09:00:00
04.01.2018 10:00:00
04.01.2018 11:00:00
04.01.2018 12:00:00
04.01.2018 13:00:00
04.01.2018 14:00:00
04.01.2018 15:00:00
04.01.2018 16:00:00
04.01.2018 17:00:00
04.01.2018 18:00:00
04.01.2018 19:00:00
04.01.2018 20:00:00
04.01.2018 21:00:00
04.01.2018 22:00:00
04.01.2018 23:00:00
05.01.2018 00:00:00
05.01.2018 01:00:00
05.01.2018 02:00:00
05.01.2018 03:00:00
05.01.2018 04:00:00
05.01.2018 05:00:00
05.01.2018 06:00:00
05.01.2018 07:00:00
05.01.2018 08:00:00
05.01.2018 09:00:00
05.01.2018 10:00:00
05.01.2018 11:00:00
05.01.2018 12:00:00
05.01.2018 13:00:00
05.01.2018 14:00:00
05.01.2018 15:00:00
05.01.2018 16:00:00
05.01.2018 17:00:00
05.01.2018 18:00:00
05.01.2018 19:00:00
05.01.2018 20:00:00
05.01.2018 21:00:00
05.01.2018 22:00:00
05.01.2018 23:00:00
06.01.2018 00:00:00
06.01.2018 01:00:00
06.01.2018 02:00:00
06.01.2018 03:00:00
06.01.2018 04:00:00
06.01.2018 05:00:00
06.01.2018 06:00:00
06.01.2018 07:00:00
06.01.2018 08:00:00
06.01.2018 09:00:00
06.01.2018 10:00:00
06.01.2018 11:00:00
06.01.2018 12:00:00
06.01.2018 13:00:00
06.01.2018 14:00:00
06.01.2018 15:00:00
06.01.2018 16:00:00
06.01.2018 17:00:00
06.01.2018 18:00:00
06.01.2018 19:00:00
06.01.2018 20:00:00
06.01.2018 21:00:00
06.01.2018 22:00:00
06.01.2018 23:00:00

'07.01.2018 00:00:00'

### Нагрузка на систему по часам

In [94]:
stats = {}

with open('logs.csv', 'r') as f:
    for line in f:
        line = line.strip()
#         print(line)
        
        dt = datetime.strptime(line, '%Y-%m-%dT%H:%M:%SZ')
        
        # номер часа
#         print(dt.hour)
        stats.setdefault(dt.hour, 0)
        stats[dt.hour]+=1
#         break
        
        # вычисления нагрузки на систему...
        
# результат
stats

{21: 59,
 20: 67,
 23: 36,
 22: 37,
 18: 72,
 13: 56,
 11: 52,
 0: 22,
 16: 56,
 17: 56,
 15: 68,
 19: 63,
 12: 64,
 10: 77,
 1: 10,
 7: 22,
 5: 10,
 9: 33,
 6: 19,
 14: 57,
 8: 42,
 3: 7,
 2: 8,
 4: 7}

In [ ]:
# а в процентном соотношении?

###  Unixtime
Количество секунд, прошедших с 1 января 1970 года по UTC

In [95]:
import time
from datetime import date
from datetime import datetime

In [101]:
d = date(2019, 3, 11)
# print(d.timetuple())
unixtime = time.mktime(d.timetuple())
unixtime

1552240800.0

In [97]:
from datetime import datetime

In [98]:
datetime.fromtimestamp(1552251600)

datetime.datetime(2019, 3, 11, 3, 0)

# Обработка ошибок

In [102]:
some_num = '123'

In [103]:
float(some_num)

123.0

In [104]:
ups = '123a'

In [105]:
float(ups)

ValueError: could not convert string to float: '123a'

In [106]:
try:
    float(ups)

except:
    print('Ошибка')
    
print('Проехали')

Ошибка
Проехали

In [107]:
ups = '123fff'

In [115]:
# полная версия traceback
import traceback

try:
    float(ups)
    print(1/0)
    
except ValueError:
        print('дел на 0')
except Exception:
    print(traceback.print_exc())
    
print('Проехали')

дел на 0
Проехали

### Упражнение
Создайте словарь stats = {'monday': 100, 'tuesday': 200}. 

Какой тип ошибки вызовет обращение stats['wednesday']?

In [111]:
stats = {'monday': 100, 'tuesday': 200}

In [116]:
try:
    stats['wednesday']

except Exception:
    print(traceback.print_exc())

None

Traceback (most recent call last):
  File "<ipython-input-116-fd7df7835406>", line 2, in <module>
    stats['wednesday']
KeyError: 'wednesday'

# Большие файлы

In [117]:
with open('unique_ids_data.csv') as f:
    for line in f:
        line = line.strip()
        print(line)

1
1
1
1
2
2
3
9

In [118]:
unique_count = 1
previous_user_id = None

with open('unique_ids_data.csv') as f:
    for line in f:
        current_user_id = line.strip()
        
        if previous_user_id and previous_user_id != current_user_id:
            unique_count += 1
            
        previous_user_id = current_user_id

print(unique_count)

4

### Словари и поиск
Про хэш-таблицы https://habr.com/ru/post/247843/

In [122]:
import pandas as pd

In [123]:
stats = pd.read_csv('stats.csv', names=['day_number', 'user_id', 'category', 'cost'])
stats.head()

   day_number  user_id  category   cost
0          14    26376         3  13301
1          12     7316         2  19329
2          28     2803         2  87381
3          25    22022         2  94036
4          20    13883         5  50722

In [121]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
day_number    10000 non-null int64
user_id       10000 non-null int64
category      10000 non-null int64
cost          10000 non-null int64
dtypes: int64(4)
memory usage: 312.6 KB

### В чем задача
Надо по заданному значению первых трех столбцов найти значение cost

In [125]:
line_to_find = [20, 20552, 3]

**Вариант 1**

Пробуем методами pandas (лучше не делайте так перед разработчиками)

In [126]:
stats[ (stats.day_number == line_to_find[0]) & 
       (stats.user_id == line_to_find[1]) & 
       (stats.category == line_to_find[2]) ].cost

4999    39156
Name: cost, dtype: int64

In [127]:
%%time
for i in range(10**4):
    cost = stats[ (stats.day_number == line_to_find[0]) & 
       (stats.user_id == line_to_find[1]) & 
       (stats.category == line_to_find[2]) ].cost

# выводим результат последнего "испытания"
print(cost)

4999    39156
Name: cost, dtype: int64
CPU times: user 14.9 s, sys: 0 ns, total: 14.9 s
Wall time: 14.9 s

**Вариант 2**

Загоняем все в список

In [128]:
stats_list = []

with open('stats.csv') as f:
    for line in f:
        line = line.strip().split(',')
        stats_list.append(line)
        
stats_list[:5]

[['14', '26376', '3', '13301'],
 ['12', '7316', '2', '19329'],
 ['28', '2803', '2', '87381'],
 ['25', '22022', '2', '94036'],
 ['20', '13883', '5', '50722']]

In [129]:
# взято из середины, значение cost=39156
line_to_find = ['20', '20552', '3']

In [130]:
for line in stats_list:
    if line[:3] == line_to_find:
        print(line[3])
        break

39156

In [131]:
%%time
for i in range(10**4):
    for line in stats_list:
        if line[:3] == line_to_find:
            cost = line[3]
            break

CPU times: user 10.4 s, sys: 0 ns, total: 10.4 s
Wall time: 10.4 s

**Вариант 3**

Используем словари

In [7]:
stats_dict = {}

with open('stats.csv') as f:
    for line in f:
        line = line.strip().split(',')
        stats_dict[tuple(line[:3])] = line[3]

In [8]:
for key, value in stats_dict.items():
    print(key, value)
    break

('14', '26376', '3') 13301

In [9]:
line_to_find = ('20', '20552', '3')

In [10]:
%%time
for i in range(10**4):
    cost = stats_dict[line_to_find]
    
print(cost)

39156
CPU times: user 5.4 ms, sys: 0 ns, total: 5.4 ms
Wall time: 5.18 ms